ion-toolbar{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    // width: 100%;
    height: 50vh;
    margin: 2;
    padding: 2;
  }

  .image-center {
    width: 150; /* Ajuste conforme necessário */
    height: 150;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
  }
  
  .login-title {
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin-bottom: 24px;
    text-align: center;
  }
  
  ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
  }
  
  .login-button,
  .register-button {
    flex: 1;
    margin: 0 4px;
  }
  
  


  